@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hind';
  src: url('Hind-Regular.woff2') format('woff2'),
      url('Hind-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Make scrollbar invisible */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(135deg, #0074E4, #34A853); */
  min-height: 100vh;
  min-width: fit-content;
  font-family: "nextask-regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
}
